#!/usr/bin/env groovy

import com.cloudbees.plugins.credentials.impl.*;
import com.cloudbees.plugins.credentials.*;
import com.cloudbees.plugins.credentials.domains.*;

def env = System.getenv()
def user = env['SSH_USER']
def pass = env['SSH_PASS']

Credentials c = (Credentials) new UsernamePasswordCredentialsImpl(CredentialsScope.GLOBAL, "{{ ssh_cred.id }}", "{{ ssh_cred.desc }}", user, pass)
SystemCredentialsProvider.getInstance().getStore().addCredentials(Domain.global(), c)
